/* ------------------------------------------------------------
    ROOT
---------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;800;900;1000&display=swap');


:root {
    --blue: #2f50d0;
    --navy-blue: #1b249b;
    --strathmore-red: #D21F26;
    --strathmore-blue: #354e9d;
    overflow-x: hidden;

}

body {
    overflow-x: hidden;
    background-color: rgb(252, 252, 252);
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

.vh-100 {
    height: 100vh;
}

.h-content {
    height: fit-content;
}

.bg-white {
    background-color: white !important;
}

#welcome {
    font-weight: 250;
}

#posts {
    font-weight: 300;
}

.clickable :hover {
    cursor: pointer;
    color: rgb(19, 109, 1);
}

h1,
h2,
h3 {
    color: #000;
    font-weight: 400;

}

h6 {
    color: #1f1f1fdc;
}

h5,
h4 {
    color: var(--navy-blue);
    font-weight: 300;
}

.text-desc {
    color: rgb(0, 0, 0);
    font-weight: 300;
}

/*--------------------------------------------------------------
    NAVBAR
--------------------------------------------------------------*/
#navbar{
    height: fit-content;
}

@media (max-width: 767.98px) {
    #navbar {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
.navbar,
.side-nav>svg {
    height: 4vh;
    width: 4vh;
}

.side-nav {
    background-color: red;
    height: screen;
    width: 20%;
    position: fixed;
    z-index: 1;
}

.h100 {
    height: 200vh;
}

.delete-button:hover {
    fill: aqua;
}

.notification {
    position: relative;

}

.notification-bar {
    position: absolute;
    z-index: 1;
    background-color: rgb(240, 240, 240);
    width: 250px;
    right: -80px;
}
.notifications {
    position: relative;
    left: 20px;
    bottom: 8px;
}
.notification-svg {
    position: relative;
    top: 2px;
}

.nav-controller{
    margin: 40px;
}